$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	2xl: 1440px,
) !default;

// above mobile
@media (min-width: map-get($grid-breakpoints, "md")) {
	.dev-custom {
		max-width: 150px;
	}

    .dev-custom > .input-max-width > .form-group {
		margin-bottom: 0px;
	}
}